#title {
    background-color: yellow;
}

.showAddNew, .showEdit{
	display: none;
}

/* button new  */
.addnew{
	margin: 20px;
}

.addbtn{
	margin: 10px;
}

.showDetail{
	text-align: left;
	margin: 10px;
}
.buuutton{
	margin: 5px;
}

