#title {
    background-color: yellow;
}

.panel .panel-body {
	display: none;
}

.is-expanded .panel-body{
	display: block;
}






/* button new  */
.addnew{
	margin: 20px;
}

.addbtn{
	margin: 10px;
}

.showDetail{
	text-align: left;
	margin: 10px;
}
.buuutton{
	margin: 5px;
}

